{% extends 'main.html' %}

{% block content %}

<div class="container-fluid">
	<div class="container text-center">
		<h1>Thank you for your order!</h1>
		<p>A confirmation request has been sent to your email "{{order.customer.email}}".</p>
		<p>Please confirm your order.</p>
	</div>

	<p>Order Summary</p>
	<table class="table">
		<thead>
			<tr>
				<th>Product</th> 
				<th>Qty</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{order.treat.name}}</td>
				<td>{{order.count}}</td>
				<td>${{order.treat.price}}</td>
			</tr>
		</tbody>
	</table>

	Total: ${{order.total}}

</div>

{% endblock %}