{% extends 'myadmin/main.html' %}
{% load static %}

{% block heading %}User Profile: {{user.name}}{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<!-- Profile picture card -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Profile Picture</h6>
					</div>
					<div class="card-body text-center">
						<!-- Profile picture image-->
						<div class="container-fluid square mb-3">
							<img class="profile-picture img-fluid rounded-circle mb-2" src="{{user.avatar.url}}" alt="profile picture">
						</div>
						<!-- Profile picture help block-->
						<div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
						<!-- Profile picture upload button-->
						{{ form.avatar }}
					</div>
				</div>
			</div>

			<div class="col-lg-8">
				<!-- Account Details card -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Account Details</h6>
					</div>
					<div class="card-body">
							<!-- Form Group (username)-->
							<div class="mb-3">
								<label class="small mb-1" for="{{ form.username.id_for_label }}">Username (how your name will appear to other users on the site)</label>
								{{form.username}}
							</div>
							<!-- Form Row-->
							<div class="row gx-3 mb-3">
								<!-- Form Group (first name)-->
								<div class="col-md-6">
									<label class="small mb-1" for="{{form.first_name.id_for_label}}">First name</label>
									{{ form.first_name }}
								</div>
								<!-- Form Group (last name)-->
								<div class="col-md-6">
									<label class="small mb-1" for="{{form.last_name.id_for_label}}">Last name</label>
									{{ form.last_name }}
								</div>
							</div>
							
							<!-- Form Group (email address)-->
							<div class="mb-3">
								<label class="small mb-1" for="{{form.email.id_for_label}}">Email address</label>
								{{ form.email }}
							</div>
							<!-- Form Row-->
							<div class="row gx-3 mb-3">
								<!-- Form Group (phone number)-->
								<div class="col-md-6">
									<label class="small mb-1" for="{{form.phone_number.id_for_label}}">Phone number</label>
									{{form.phone_number}}
								</div>
								<!-- Form Group (birthday)-->
								<div class="col-md-6">
									<label class="small mb-1" for="inputBirthday">Birthday</label>
									<input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{user.dob}}" name="dob" />
								</div>
							</div>
							<!-- Save changes button-->
							<input class="btn btn-primary" type="submit" value="Save changes">
					</div>
				</div>
			</div>


		</div>
	</div>
</form>


{% endblock %}