<div class="modal fade" id="deleteTreatModal" tabindex="-1" role="dialog" aria-labelledby="deleteTreat"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteTreat">Delete Treat?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Delete" below if you really want to delete this treat.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<form id="deleteTreatForm" action="" method="post" data-id="">
					{% csrf_token %}
					<button class="btn btn-danger" type="submit">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>