{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container-fluid bg-light pt-5">
	<div class="container py-5">
		<div class="d-flex flex-column text-center mb-5">
			<h1 class="display-4 m-0"><span class="text-primary">Premium</span> Pet Treats</h1>
		</div>
		<div class="row pb-3">

			{% for treat in treats %}
			<div class="col-md-6 col-lg-4 mb-4">
				<div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
					<h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
					<h3 class="mb-3">{{treat.name}}</h3>
					<p>{{treat.description}}</p>
					<p>Price: ${{treat.price}}</p>
					<a class="text-uppercase font-weight-bold" href="{% url 'order' treat.id %}">Order now</a>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</div>
{% endblock %}